[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SHIP"]
	path = SHIP
	url = https://github.com/vguillemot/ship
[submodule "ppls"]
	path = ppls
	url = https://github.com/vguillemot/ppls
